table {
  font-family: alice;
  color: white;
  width: 100%;
  background: #75abeb;
  border: solid #E2BC8B;
  overflow:scroll;
}

th {
  border: solid #E2BC8B;
  text-align: center;
  font-size: 20px;
  padding: 6px;
  background: #558bc9;
}

td {
  border: solid #E2BC8B;
  text-align: left;
  padding:5px;
  height:30px;
}

h1 {
	font-family: Alice;
	font-size: 48px;
	line-height: 55px;
	text-align: left;
	color: #E2BC8B;
	-webkit-text-stroke: 3px solid #9A703B;
	text-shadow: 0px 4px 4pxrgba(0, 0, 0, 0.25);
}

hr {
	background-color: #2A4E76;
	height: 2px;
}

.bg{
	background-position:top center;
	overflow:hidden;
	height:100%;
	position:fixed;
	opacity:.45;
	z-index:-1;
}

.header {
	top:0;
	width:100%;
	position: sticky;
  	color: white;
  	text-align: center;
  	padding: 8px;
  	font-size: 18px;
  	line-height: 40px;
	background-color: #2E496A;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #2E496A;
	color: white;
	text-align: center;
}

.home-button {
	background-color: #2A4E76;
	border: 3px solid #E2BC8B;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-button:hover {
  	background-color: #183657;
	border: 3px solid #E2BC8B;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-button {
	background-color: #2A4E76;
	border: 3px solid #E2BC8B;
	width: 315px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.approve-button {
	  position: absolute;
	  top: 75%;
	  bottom: 0;
      right: 0%;
	  left: 62%;
	  font-family: alice;
  }
  .reject-button {
	position: absolute;
	  top: 75%;
	  bottom: 0;
      right: 0%;
	  left: 71%;
	  font-family: alice;
}

button[type=submit]:hover, [type=button]:hover {
  	background-color: #183657;
	border: 3px solid #E2BC8B;
}

.form-control {
	background-color: #558bc9;
	color: white;
	border: 3px solid #E2BC8B;
}

input[type=text]:focus, [type=email]:focus, [type=password]:focus, [type=date]:focus, textarea:focus {
	background: #75abeb !important;
	color: white !important;
	border: 3px solid #E2BC8B !important;

input[type=search] {
	background-color: #4C4B63;
	color: white !important;
	border: #4C4B63;
	width: 300px !important;
}

input[type=search]:focus {
	background-color: #4C4B63 !important;
	border: 1px solid #79d8b0;
}

::placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white ;
}

.back-button {
    background-color: #E2BC8B !important;
}

.back-button:hover {
    background-color: #9C7F5A !important;
}
